/**
 * Variables
 **/
/**
 * Default Styles
 *
 * The default styles for the block in the editor.
 */

/*.wp-block-wp-fusion-secure-block {
  padding-left: 15px;
  padding-right: 15px;
}*/

.wp-block-wp-fusion-secure-block .editor-block-list__layout.block-editor-block-list__layout {
  margin-left: 5px;
  margin-right: 5px;
}

.wp-block-wp-fusion-secure-block__handle {
  position: relative;
  background-color: #f3f3f4;
  color: #32373c;
  padding: 5px 30px 5px 10px;
  font-size: 12px; }

.wp-block-wp-fusion-secure-block__tags .tag:after {
  content: ", "; }

.wp-block-wp-fusion-secure-block__tags .tag:last-of-type:after {
  content: ""; }

.wp-block-wp-fusion-secure-block__tags .tag__name {
  font-family: monospace;
  background: white;
  padding: 2px 4px 2px 4px;
  opacity: .8; }

.wp-block-wp-fusion-secure-block__icon {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0.8; }

.wp-block-wp-fusion-secure-block__description {
  display: block; }
  .wp-block-wp-fusion-secure-block__description strong {
    font-family: monospace;
    background: white;
    padding: 2px 4px 2px 4px;
    opacity: .8;
    font-weight: normal; }

.wp-block-wp-fusion-secure-block__footer {
  background-color: #f3f3f4;
  color: #32373c;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  text-align: right;
  font-style: italic; }
/**
 * Default Styles
 *
 * The default styles for the block frontend.
 */
/**
 * Variables
 **/
/**
 * Default Styles
 *
 * The default styles for the block in the editor.
 */
.wp-block-wp-fusion-secure-block-inner-unsecure__handle {
  position: relative;
  background-color: #f3f3f4;
  color: #32373c;
  padding: 5px 20px 5px 10px;
  font-size: 12px; }

.wp-block-wp-fusion-secure-block-inner-unsecure__icon {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0.8; }
