@charset "UTF-8";

/**
 * Variables
 **/
$wp_fusion_color_primary: #6c2a22;
$wp_fusion_color_gutenberg_grey: #f3f3f4;
$wp_fusion_color_gutenberg_black: #32373c;

/**
 * Default Styles
 *
 * The default styles for the block in the editor.
 */
.wp-block-wp-fusion-secure-block-inner-unsecure {

	&__handle {
		position: relative;
		background-color: $wp_fusion_color_gutenberg_grey;
		color: $wp_fusion_color_gutenberg_black;
		padding: 5px 20px 5px 10px;
		font-size: 12px;
	}

	&__icon {
		position: absolute;
		top: 8px;
		right: 8px;
		opacity: 0.8;
	}
}
