#wpf-pro {
	position:absolute;
	right:30px;
	margin-top:-40px;
    background: #fff;
    padding: 15px 30px 25px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
    z-index: 0;
    max-width: 320px;
}

#wpf-pro #wpf-pro-top {
	margin-top: -15px;
	margin-left: -30px;
	margin-right: -30px;
	padding: 25px 30px;
    background-color: #E55B10;
}

#wpf-pro img {
	margin: 0 auto;
    width: 211px;
    display: block;
}

#wpf-pro ul {
	list-style: initial;
	padding-left: 30px;
}

#wpf-pro a.button-primary {
	margin-left: 15px;
	margin-top: 5px;
	background-color: #E55B10;
    border-color: #E55B10;
}

#wpf-pro hr {
	margin: 15px 0;
}

.error.validation-error {
	padding: 4px 10px 8px;
	margin-top: 20px !important;
	margin-bottom: 0px !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

input[type="checkbox"] {
	margin-right: 7px;
}

input[type="radio"] {
	top: -1px;
    position: relative;
    display: inline-block !important;
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
	box-shadow: none;
	outline: none;
}

input#app_name {
	width: 80px;
}

input.api_key, input#license_key, input#ac_url {
	display: inline-block;
	margin-right: 5px;
	width: 300px;
}

select.wpf_type {
	background-color: transparent !important;
	border: none;
	box-shadow: none;
	padding: 0px;
	color: #000;
	padding-right: 25px;
}

button.verify-button {
	position: relative;
	margin-right: 5px;
}

button.create-button {
	position: relative;
}

button.btn-verifying {
	padding-left: 30px;
}

form#wpf-settings .settings_page_wpf-settings-tab-content {
	padding: 0 10px;
}

form#wpf-settings #setup .form-table {
	margin-top: 0px;
}

button.btn-verifying i.fa {
	left: 2px;
	top: 7px;
	font-size: 14px;
}

a#test-connection, a#edd-license, a#export-btn {
	min-width: 150px;
	text-align: center;
	position: relative;
}

form#wpf-settings .tooltip .tooltip-inner {
	background-color: #333;
	opacity: 1;
	color: #fff;
	line-height: 1.5;
	padding: 6px 10px;
	border: 1px solid #333;
	max-width: 300px;
	text-align: left;
}

form#wpf-settings .tooltip .tooltip-arrow {
	border-right-color: #333;
}

#s2id_import_role {
	margin-left: 5px;
	min-width: 180px;
}

a#import-users-btn {
	margin-left: 5px;
	min-width: 150px;
	position: relative;
	border-color: #ccc;
	
}

th.import-date, td.import-date {
	width: 150px;
}

tr.import-group-row {
	position: relative;
}

a#test-connection i.fa, a#edd-license i.fa, a#import-users-btn i.fa, a#export-btn i.fa {
	left: 0px;
	top: 7px;
	font-size: 18px;
}

a#test-connection span, a#export-btn span, a#import-users-btn span {
	padding-left: 24px;
}

#wpf-settings li#tab-batch-process {
	display: none;
}

#wpf-settings #logs.tab-pane h3 {
	display: none;
}

#wpf-settings.setup ul.nav-tabs, #wpf-settings.setup .settings_page_wpf-settings-tab-content .tab-pane {
	display: none;
}

#wpf-settings.setup ul.nav-tabs li#tab-setup, #wpf-settings.setup .settings_page_wpf-settings-tab-content .tab-pane#setup {
	display: block;
}

#wpf-batch-status {
	position: relative;
	width: 100%;
}

#wpf-batch-status.hidden {
	display: none !important;
}

#wpf-batch-status i.fa {
	left: 2px;
		font-size: 18px;
		top: 10px;
		opacity: 0.75;
}

#wpf-batch-status span.title {
	display: inline-block;
	padding-left: 22px;
}

#wpf-batch-status a#cancel-batch {
	float: right;
		position: relative;
		top: -2px;
}

#wpf-settings input[type="radio"]+label {
	line-height: 2;
	position: relative;
    top: -2px;
}

/* Select 2 */

.select4-container.select4-container-disabled .select4-choice .select4-arrow {
	display: none;
}

#wpf-settings input[type="number"] {
    height: 34px;
    line-height: 1.42857143;
    width: 300px !important;
}

#wpf-settings h4 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	padding-top: 25px;
	font-weight: normal;
	width: 975px;
    max-width: 100%;
}

#wpf-settings h4:first-of-type {
	padding-top: 0px;
}

th.sync {
	width: 30px;
}

#contact-fields > table > tbody > tr > td {
	padding: 0px;
}

#contact-fields-table tr.group-header td {
	padding: 10px 15px;
    border: 1px solid #ccc;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    z-index: 999;
    position: relative;
}

#contact-fields-table tr.group-header td .group-header-title {
	font-weight: bold;
	width: 100%;
}

#contact-fields-table tr.group-header td .group-header-title i.fa {
	float: right;
    font-size: 24px;
    line-height: 20px;
    padding-right: 10px;
}

#contact-fields-table tr.group-header td .group-header-title i.fa.fa-angle-down {
	display: none;
}

#contact-fields-table tr.group-header td .group-header-title.collapsed i.fa.fa-angle-down {
	display: block;
}

#contact-fields-table tr.group-header td .group-header-title.collapsed i.fa.fa-angle-up {
	display: none;
}

#contact-fields-table tr.group-header td input {
	display: none;
}

#contact-fields-table td, #import-groups td {
	padding: 4px 8px;
}

#contact-fields-table td.wp_field_label label {
	position: relative;
	top: -2px;
}

#contact-fields-table td.wp_field_type input[type="text"] {
	width: auto;
	max-width: 80px;
}

#contact-fields-table td .checkbox {
	margin-left: 7px;
}

#wpf-settings #contact-fields-table input[type="text"] {
	width: 100%;
}

#wpf-settings input[type="text"], #wpf-settings input[type="password"] {
	width: 300px;
}

#wpf-settings input[type="text"]#woo_error_message, #wpf-settings input[type="text"]#email_optin_message {
	width: 800px;
	max-width: 100%;
}

#wpf-settings input[type="text"], #wpf-settings input[type="password"] {
    width: 318px;
}


#wp-restricted_message-wrap {
	width: 60%;
	min-width: 600px;
}

#wpf-settings i.wpf-tip {
	padding-left: 4px;
	font-size: 16px;
	line-height: 1.5;
	vertical-align: middle;
	color: #666;
	cursor: pointer;
}

#wpf-settings i.wpf-tip:hover {
	color: #333;
}

/* Log viewer */

/**
* Add color to levels
*
* Descending severity:
*   emergency, alert -> red
*   critical, error  -> orange
*   warning, notice  -> yellow
*   info             -> blue
*   debug            -> gree
*/

.wp-list-table.wpf-logs ul {
	margin-top: 5px;
    line-height: 1.25;
    list-style-type: circle;
    padding-left: 20px;
}

.wp-list-table.wpf-logs .log-level:empty {
	display: none;
}

.wp-list-table.wpf-logs .log-level--error {
	background-color: #f94f1d;
}

.wp-list-table.wpf-logs .log-level--warning {
	background-color: #ff851b;
}

.wp-list-table.wpf-logs .log-level--notice {
	color: #222;
	background-color: #ffdc00;
}

.wp-list-table.wpf-logs .log-level--info {
	background-color: #0074d9;
}

.wp-list-table.wpf-logs .log-level--http {
	background-color: #5fc15d;
}

.wp-list-table.wpf-logs .log-level {
	display: inline;
	padding: 5px 10px;
	font-size: 80%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .2em;
}

.wp-list-table.wpf-logs .column-message pre {
	background: #eee;
    padding: 10px;
    overflow-x: scroll;
}

.wp-list-table.wpf-logs .column-message code {
	border-bottom: 1px dashed #999;
}


@media screen and (min-width: 783px) {
	.wp-list-table.wpf-logs .column-timestamp {
		width: 18%;
	}
	.wp-list-table.wpf-logs .column-level {
		width: 10%;
	}
	.wp-list-table.wpf-logs .column-source {
		width: 10%;
	}
	.wp-list-table.wpf-logs .column-user {
		width: 15%
	}
	.wp-list-table.wpf-logs .column-level {
		width: 10%;
	}
}
